flask
flask_cors
flask_oauthlib
numpy
pandas
dash==1.2.0
dash-daq
dash-bootstrap-components
pandas-datareader
scipy
watchdog
APScheduler
statsmodels
ijson
pymongo
flask_pymongo
sklearn
matplotlib
XlsxWriter
Pillow
papermill
nbclient==0.4.0
tensorflow-probability
psycopg2-binary
docker
nltk
mlflow
pypc
hyperopt
pyarrow
xlwt
graphviz
psutil
