flask
flask_cors
flask_oauthlib
numpy
pandas
dash
dash-daq
dash-bootstrap-components
pandas-datareader
scipy
watchdog
APScheduler
statsmodels
ijson
pymongo
flask_pymongo
sklearn
matplotlib
XlsxWriter
Pillow
papermill
nbclient
tensorflow-probability==0.16.0
tensorflow_addons==0.17.1
psycopg2-binary
docker
nltk
mlflow==1.28.0
pypc
hyperopt
pyarrow
xlwt
graphviz
psutil
bs4
eureka_requests

xlrd
msal
fastapi
uvicorn
tables
wtforms==2.3.3
Markdown==3.3.4
mixturemapping
mongodf>=0.0.26
kubernetes
auto-sklearn
dash_express_components
dash_luckysheet
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
