flask
flask_cors
flask_oauthlib
numpy
pandas
dash
dash-daq
dash-bootstrap-components
pandas-datareader
scipy
watchdog
APScheduler
statsmodels
ijson
pymongo
flask_pymongo
sklearn
matplotlib
XlsxWriter
Pillow
papermill
nbclient
tensorflow-probability==0.16.0
tensorflow_addons==0.17.1
psycopg2-binary
docker
nltk
mlflow==2.9.2
pypc
hyperopt
pyarrow
xlwt
graphviz
psutil
bs4
eureka_requests

xlrd
msal
fastapi
uvicorn
tables
wtforms==2.3.3
Markdown==3.3.4
mixturemapping
mongodf
kubernetes
auto-sklearn
dash_express_components
dash_luckysheet
azure-storage-file-datalake
azure-identity

